<html>
<head></head>

<body>
<div class="loginbody">
<br><br><br><br>
<H1 align="center">LOGIN TO XWIGGY</H1>
<br><br><br><br><br><br>
<div align="center" style="color: #f44336">{{message}}</div>
<div class="container" align="center">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && sendFeedback()" novalidate class="feedback-form">
        <!-- Name -->
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text"
                 id="username"
                 class="form-control"
                 name="username"
                 placeholder="username"
                 [(ngModel)]="model.username"
                 #username="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && username.invalid }"
                 required/>
          <!-- input validation group -->
          <div *ngIf="f.submitted && username.invalid" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="username.errors?.required">Field is required</div>
          </div>
        </div>
        <!-- Email -->
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password"
                 id="password"
                 class="form-control"
                 name="password"
                 placeholder="password"
                 [(ngModel)]="model.password"
                 #password="ngModel"
                 [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
                 required="required"/>
          <!-- input validation group -->
          <div *ngIf="f.submitted && password.invalid" class="invalid-input">
            <!-- individual validation errors -->
            <div *ngIf="password.errors?.required">Field is required</div>
          </div>
        </div>


        <button type="submit" class="bigbutton">
          <span> Login</span>
        </button>
        <button class="bigbutton" routerLink="/register"><span>Register</span></button>
      </form>
    </div>
    <div class="offset-3"></div>
  </div>
</div>
</div>
</body>
</html>
