
<div class="body">
  <br><br><br><br>
  <h1 align="center">XWIGGY | ORDERS</h1>
  <div class="alert alert-warning" align="center">
    <strong>Payment Successful.</strong>
  </div>
  <br><br><br>
  <h1 align="center">Your order is on it's way.</h1>
  <div align="center"><progress value="22" max="100" style="width: 70%"> Progress</progress> </div>
  <br><br><br><br>
  <table align="center">
    <tr>
      <td><button class="bigbutton" routerLink="/menu"><span>Menu</span></button> </td>
      <td><button class="bigbutton" routerLink="/home"><span>Log Out</span></button> </td>
    </tr>
  </table>

</div>
