<div class="body">
  <br><br><br><br>
  <h1 align="center">XWIGGY | ORDERS</h1>
  <div class="alert alert-warning" align="center" style="width: 100%">
    <strong>Payment Successful.</strong>
  </div>
  <br><br><br>
  <h1 align="center">Your order is on it's way.</h1>
  <!--<div align="center"><progress value="22" max="100" style="width: 70%"> Progress</progress> </div>-->

<div align="center">
  <div class="progress">
    <div class="progress-bar bg-success" style="width:40%">
      Payment Status : Accepted
    </div>
    <div class="progress-bar bg-warning" style="width:40%">
      Order Status : Accepted
    </div>
    <div class="progress-bar bg-danger" style="width:40%">
      Delivery Time : 30 mins
    </div>
  </div>
</div>


  <br><br><br><br>
  <table align="center">
    <tr>
      <td><button class="bigbutton" routerLink="/contactUs" style="width: 140px"><span>Contact Us</span></button> </td>
      <td><button class="bigbutton" routerLink="/menu"><span>Menu</span></button> </td>
      <td><button class="bigbutton" routerLink="/home" (click)="clearLocal()"><span>Log Out</span></button> </td>
    </tr>
  </table>
</div>


