<head>
  <title>Xwiggy|Payment  </title>
</head>
<div class="body">
  <br><br><br><br>
<h1 align="center">XWIGGY | CHECKOUT</h1>

  <div class="alert alert-warning" align="center">
    <strong>Payment Portal</strong>
  </div>

  <div>
    <h2 align="center">Payment Details</h2>
    <h2 align="center">To Pay : {{total}}</h2>
    <div align="center">
      <table align="center">
        <tr>
          <td><label>Card Number</label></td>
          <td><input type="text" placeholder="Valid Card Number"
                      minlength="16"
                      maxlength="16"
                      required="required">
          </td>
        </tr>
        <tr>
          <td><label>Expiry</label></td>
          <td>
            <table>
              <tr>
                <td><input type="text" placeholder="MM" minlength="2" maxlength="2" required="required"></td>
                <td><input type="text" placeholder="YY" minlength="2" maxlength="2" required="required"></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td><label>CVV</label></td>
          <td>
            <table>
              <tr>
                <td><input type="text" placeholder="CVV"></td>
                <td><img class="question" src="http://pngimg.com/uploads/question_mark/question_mark_PNG49.png"
                         data-toggle="tooltip" data-placement="right" title="Card CVV Help"></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td><label>Cardholder Name</label></td>
          <td><input type="text" placeholder="Name"></td>
        </tr>
      </table>
      <table>
        <tr>
          <td>
            <button class="bigbutton" routerLink="/success" (click)="changeDB()"><span>Pay</span></button>
          </td>
          <td>
            <button class="bigbutton" routerLink="/menu"><span>Go Back</span></button>
          </td>
        </tr>
      </table>
    </div>
  </div>


</div>
